.DS_Store
*.swp 

UserInterfaceState.xcuserstate 
MissCat.xcworkspace/xcuserdata/yuigawada.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MissCat.xcworkspace/xcuserdata/yuigawada.xcuserdatad/UserInterfaceState.xcuserstate
