<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829232913896-ml8sncp8uftda7jbgjl3p0atv4ffkt2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829232913896-ml8sncp8uftda7jbgjl3p0atv4ffkt2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAvc4DNj1FuQivImVTfxW9zHikH_8yFf38</string>
	<key>GCM_SENDER_ID</key>
	<string>829232913896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuwd.MissCat</string>
	<key>PROJECT_ID</key>
	<string>misscat-9c053</string>
	<key>STORAGE_BUCKET</key>
	<string>misscat-9c053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829232913896:ios:bb47b5babdbb686b1ed85d</string>
	<key>DATABASE_URL</key>
	<string>https://misscat-9c053.firebaseio.com</string>
</dict>
</plist>